* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

p {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading {
    margin-left: 55em;
}